@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
@layer components {
  .btn-primary {
    @apply bg-[#4C49ED] text-white rounded-md py-1 px-1 hover:bg-[#4c49ede2]
  }
  .text-primary {
    @apply text-[#4C49ED];
  }
  .border-primary {
    @apply border-[#4C49ED];
  }
  .input-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#4C49ED] focus:outline-none focus:border-[#4C49ED] focus:border-[2px] block w-full p-2.5;
}
}
